<div class="heading">
  <h1>Borrow History</h1>
</div>
<br/>

<div class="admin">
  <table>
    <thead>
    <tr>
      <th> ISBN </th>
      <th> Library </th>
      <th> Held By</th>
      <th> Email </th>
      <th></th>
    </tr>
    </thead>
    <% if !@borrowbooks.nil? then @borrowbooks.each do |r| %>
        <tbody>
        <tr>
          <td><%= r.isbn %></td>
          <td><%= r.library_name %>
          <td><%= r.student_name %></td>
          <td><%= r.student_email %></td>
        </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <br/>
</div>
