<div class="heading">
  <h1>Student Registration </h1>
</div>

<div class="msg">
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
</div>
<br>


<%= render 'students/form' %>