// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.admin{
  th, td {
    padding: 1px;
    text-align: center;
  }
  max-width: available;

  font-size: larger;
  font-family: Courier;
  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }
  th {
    text-align: center;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
}

div.tab{
  th, td {
    padding: 15px;
    text-align: center;
  }
  max-width: available;
  padding: 1rem;
  font-size: larger;
  font-family: Courier;
  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }
  th {
    text-align: center;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
}
