// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.heading {
  text-align: center;
  color: brown;
  font-family: Courier;
  font-size: x-large;
  font-palette: dark;
  font-size: xx-large;
  background-color: burlywood;
}
div.body {
  font-size: larger;
  font-family: Courier;
}

