<!DOCTYPE html>
<html lang="en">
<h1>Librarian DashBoard</h1>
  <body>
  <li><%= link_to "Books", librarians_books_path %></li>
  <li><%= link_to "View Hold Request", librarians_path%></li>
  <li><%= link_to "View Checkedout", librarians_checkedout_request_path%></li>
  <li><%= link_to "View BorrowingHistory", librarians_borrow_path%></li>
  </body>
</html>
