<div class="heading">
  <h1> librarian index </h1></div>
</div>

<%= link_to "Edit", edit_librarian_path(@librarian.id) %>
<%= link_to "Edit", edit_library_path(@librarian.library) %>
<%= link_to "Sign out", sessions_destroy_path %>
